
services:
  spark-master:
    image: apache/spark:4.1.0-preview4-scala2.13-java21-python3-r-ubuntu
    container_name: spark-master
    command: /opt/spark/bin/spark-class org.apache.spark.deploy.master.Master
    environment:
      - SPARK_MASTER_HOST=spark-master
      - SPARK_MASTER_PORT=7077
      - SPARK_MASTER_WEBUI_PORT=8080
    ports:
      - "8080:8080"
      - "7077:7077"
    networks:
      - spark-network

  spark-worker-1:
    image: apache/spark:4.1.0-preview4-scala2.13-java21-python3-r-ubuntu
    container_name: spark-worker-1
    command: /opt/spark/bin/spark-class org.apache.spark.deploy.worker.Worker spark://spark-master:7077
    environment:
      - SPARK_WORKER_MEMORY=1G
      - SPARK_WORKER_CORES=1
      - SPARK_WORKER_WEBUI_PORT=8081
    ports:
      - "8081:8081"
    networks:
      - spark-network
    depends_on:
      - spark-master

  spark-worker-2:
    image: apache/spark:4.1.0-preview4-scala2.13-java21-python3-r-ubuntu
    container_name: spark-worker-2
    command: /opt/spark/bin/spark-class org.apache.spark.deploy.worker.Worker spark://spark-master:7077
    environment:
      - SPARK_WORKER_MEMORY=1G
      - SPARK_WORKER_CORES=1
      - SPARK_WORKER_WEBUI_PORT=8082
    ports:
      - "8082:8082"
    networks:
      - spark-network
    depends_on:
      - spark-master

  spark-client:
    image: apache/spark:4.1.0-preview4-scala2.13-java21-python3-r-ubuntu
    container_name: spark-client
    volumes:
      - ./:/opt/spark/apps
    networks:
      - spark-network
    depends_on:
      - spark-master
    command: sleep infinity

networks:
  spark-network:
    driver: bridge